body{
	font-family: 'Noto Sans TC', sans-serif;
	}

h1,h2,h3,h4,h5,h6{
	font-family: 'Noto Sans TC', sans-serif;
	text-transform: none;
	}

h1{
    font-size: 5rem;
}
h1 .text-primary{
    font-size: 3.5rem;
	letter-spacing:-0.05rem;
    line-height: 3rem;
}

.subheading{
	font-family: 'Noto Sans TC', sans-serif;
	font-size: 1.2rem;
	text-transform: none;
	letter-spacing: -0.05rem;
}

#page-top{
	line-height:60px;
}

.bg-primary{
	background-color:#00d4c9!important;
background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png");
}

.text-primary {
    color: #00cdd4!important;
}

a {
    color: #00cdd4;
}

#carousel-example-2{
	width:55%;
	height:55%;
}

.h3-responsive{
	font-size: 1.2rem;
	color:#ffffff;
	background-color:rgba(77, 77, 77,0.5);
}

.p-carousel{
	font-size: 0.8rem;
	color:#ffffff;
	background-color:rgba(77, 77, 77,0.5);
}